In [ ]:
# Python 2.1 - Data Review

In [2]:
import pandas as pd         # Shift+Enter to run the code; Shift+Control+p 查询快捷键

In [3]:
df = pd.read_csv('./chapter2_sampledata.csv')     #读取CSV文档，引入DataFrame

In [3]:
df                                                # display the table 读取并显示表格

,ÈÀDate,AdvertiserID,AdvertiserName,CampaignID,CampaignName,SiteID,SiteName,PlacementID,PlacementName,PlacementType,AdID,AdName,AdFormat,ServedImpressions,Clicks,VideoStarted,VideoFullyPlayed,TotalMediaCost,weekstartdate
0,5.27.2018,439393,JackÛªs Barrel,877391,2018_THL_Jacks Barrel,130157,Oath US,24604034,THL_JB_0_BRIGHTROLL_CONTX_DES_A21-49_UCB_H5_Fl...,In-Banner,52002980,2018_DB_SimplePleasures-300x250,Standard Banner,312,1,0,0,0.00,5/21/18
1,5/27/18,439393,JackÛªs Barrel,877391,2018_THL_Jacks Barrel,130157,Oath US,24604036,THL_JB_0_BRIGHTROLL_CONTX_DES_A21-49_UCB_H5_Fl...,In-Banner,52004247,2018_DB_SimplePleasures-728x90,Standard Banner,73,0,0,0,0.00,5/21/18
2,5/27/18,439393,JackÛªs Barrel,877391,2018_THL_Jacks Barrel,130157,Oath US,24604037,THL_JB_0_BRIGHTROLL_CONTX_DES_A21-49_UCB_H5_Fl...,In-Banner,52003023,2018_DB_SimplePleasures-300x600,Standard Banner,95,0,0,0,0.00,5/21/18
3,5/27/18,439393,JackÛªs Barrel,877391,2018_THL_Jacks Barrel,130157,Oath US,24604038,THL_JB_0_BRIGHTROLL_CONTX_APP_A21-49_UCB_H5_Fl...,In-Banner,52001141,2018_DB_SimplePleasures_Mobile_300x50,Standard Banner,19,0,0,0,0.00,5/21/18
4,5/27/18,439393,JackÛªs Barrel,877391,2018_THL_Jacks Barrel,130157,Oath US,24604041,THL_JB_0_BRIGHTROLL_CONTX_MOB_A21-49_UCB_H5_Fl...,In-Banner,52001164,2018_DB_SimplePleasures_Mobile_300x50,Standard Banner,20,0,0,0,0.00,5/21/18
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30702,4/1/18,329394,Chelsea Blue,853276,2018_THL_Chelsea_BALAD,32885,PopSugar,23653985,THL_CB_0_POP SUGAR_CONTX_MOB_A21-49_UCB_H5_CPM...,In-Banner,50275241,2018_Chelsea_ChaliceBanner_BALAD_320x50,HTML5 Standard Banner,4023,3,0,0,28.20,3/26/18
30703,4/1/18,329394,Chelsea Blue,853276,2018_THL_Chelsea_BALAD,32885,PopSugar,23653985,THL_CB_0_POP SUGAR_CONTX_MOB_A21-49_UCB_H5_CPM...,In-Banner,50528465,2018_Chelsea_12PackBanner_BALAD_320x50,HTML5 Standard Banner,3979,2,0,0,27.89,3/26/18
30704,4/1/18,329394,Chelsea Blue,853276,2018_THL_Chelsea_BALAD,79621,Gilt,23654033,THL_CB_0_GILT CITY_CONTX_CSD_A21-49_UCB_H5_CPM...,Tracking Only,50227618,Tracking Pixel,Tracking Pixel,0,1318,0,0,0.00,3/26/18
30705,4/1/18,329394,Chelsea Blue,853276,2018_THL_Chelsea_BALAD,79621,Gilt,23654034,THL_CB_0_GILT CITY_CONTX_CSD_A21-49_UCB_H5_CPM...,Tracking Only,50227619,Tracking Pixel,Tracking Pixel,0,2,0,0,0.00,3/26/18
30706,4/1/18,329394,Chelsea Blue,853276,2018_THL_Chelsea_BALAD,95580,Hulu.com,23654125,THL_CB_0_HULU.COM_PROLL_DES_A21+_National_VID_...,Tracking Only,50227632,Tracking Pixel,Tracking Pixel,2325,2,0,0,50.85,3/26/18

In [4]:
df.shape        # check how many rows and columns - check DataFrame Attribute

(30707, 19)

In [5]:
df.columns      # check column details (this is Marketing daily data) - check DataFram Attribute

Index(['ÈÀDate', 'AdvertiserID', 'AdvertiserName', 'CampaignID',
       'CampaignName', 'SiteID', 'SiteName', 'PlacementID', 'PlacementName',
       'PlacementType', 'AdID', 'AdName', 'AdFormat', 'ServedImpressions',
       'Clicks', 'VideoStarted', 'VideoFullyPlayed', 'TotalMediaCost',
       'weekstartdate'],
      dtype='object')

In [6]:
df.head(3)      # Head Function (3 = Display the first 3 rows) 函数

,ÈÀDate,AdvertiserID,AdvertiserName,CampaignID,CampaignName,SiteID,SiteName,PlacementID,PlacementName,PlacementType,AdID,AdName,AdFormat,ServedImpressions,Clicks,VideoStarted,VideoFullyPlayed,TotalMediaCost,weekstartdate
0,5.27.2018,439393,JackÛªs Barrel,877391,2018_THL_Jacks Barrel,130157,Oath US,24604034,THL_JB_0_BRIGHTROLL_CONTX_DES_A21-49_UCB_H5_Fl...,In-Banner,52002980,2018_DB_SimplePleasures-300x250,Standard Banner,312,1,0,0,0.0,5/21/18
1,5/27/18,439393,JackÛªs Barrel,877391,2018_THL_Jacks Barrel,130157,Oath US,24604036,THL_JB_0_BRIGHTROLL_CONTX_DES_A21-49_UCB_H5_Fl...,In-Banner,52004247,2018_DB_SimplePleasures-728x90,Standard Banner,73,0,0,0,0.0,5/21/18
2,5/27/18,439393,JackÛªs Barrel,877391,2018_THL_Jacks Barrel,130157,Oath US,24604037,THL_JB_0_BRIGHTROLL_CONTX_DES_A21-49_UCB_H5_Fl...,In-Banner,52003023,2018_DB_SimplePleasures-300x600,Standard Banner,95,0,0,0,0.0,5/21/18

In [7]:
df['AdvertiserName']             # Index DataFrame Column 对DF的索引

0        JackÛªs Barrel
1        JackÛªs Barrel
2        JackÛªs Barrel
3        JackÛªs Barrel
4        JackÛªs Barrel
              ...
30702       Chelsea Blue
30703       Chelsea Blue
30704       Chelsea Blue
30705       Chelsea Blue
30706       Chelsea Blue
Name: AdvertiserName, Length: 30707, dtype: object

In [8]:
df[['AdvertiserName','SiteName']]   #Index 2 columns at the same time (the 2 columns becomes 1 List - 2 sets of Brackets)
# 两个column变成了一个List，第一层中括号是一个List

        AdvertiserName  SiteName
0      JackÛªs Barrel   Oath US
1      JackÛªs Barrel   Oath US
2      JackÛªs Barrel   Oath US
3      JackÛªs Barrel   Oath US
4      JackÛªs Barrel   Oath US
...                ...       ...
30702     Chelsea Blue  PopSugar
30703     Chelsea Blue  PopSugar
30704     Chelsea Blue      Gilt
30705     Chelsea Blue      Gilt
30706     Chelsea Blue  Hulu.com

[30707 rows x 2 columns]

In [ ]:
# 2nd Function: Check how many unique values

In [9]:
df['AdvertiserName'].unique()

array(['Jack\x89Ûªs Barrel', 'Bubbles', 'Chelsea Blue', 'AnneMac',
       'Brand R'], dtype=object)

In [ ]:
# Check how many rows for each unique value

In [10]:
df['AdvertiserName'].value_counts()  #每一个unique value有多少行 - 得出每一个unique value及其行数

Brand R            10053
JackÛªs Barrel     9883
Chelsea Blue        5400
AnneMac             4443
Bubbles              928
Name: AdvertiserName, dtype: int64

In [ ]:
# Check missing value / empty cell

In [11]:
df.isnull() # return Bool values (False means no nulls)

,ÈÀDate,AdvertiserID,AdvertiserName,CampaignID,CampaignName,SiteID,SiteName,PlacementID,PlacementName,PlacementType,AdID,AdName,AdFormat,ServedImpressions,Clicks,VideoStarted,VideoFullyPlayed,TotalMediaCost,weekstartdate
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
30702,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
30703,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
30704,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
30705,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
30706,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [18]:
df.isnull().sum()   # Aggregate Boolean values returned (1-check if null;2-sum) 每一列是否有空值
# 先判断是否有空值，然后再将结果aggregate起来

ÈÀDate              0
AdvertiserID         0
AdvertiserName       0
CampaignID           0
CampaignName         0
SiteID               0
SiteName             0
PlacementID          0
PlacementName        0
PlacementType        0
AdID                 0
AdName               0
AdFormat             0
ServedImpressions    0
Clicks               0
VideoStarted         0
VideoFullyPlayed     0
TotalMediaCost       0
weekstartdate        0
dtype: int64

In [ ]:
# Python 2.2 数据清洗（Datetime & String）

In [ ]:
# Datetime 对时间的处理

In [19]:
?pd.to_datetime()  #看一个Function是如何使用的

Object `pd.to_datetime()` not found.

In [20]:
df[df.columns[0]] = pd.to_datetime(df[df.columns[0]])   #df.columns是这个DF里的所有columns 对第0列column进行赋值，apply到这一列上

In [21]:
df.head(3)

,ÈÀDate,AdvertiserID,AdvertiserName,CampaignID,CampaignName,SiteID,SiteName,PlacementID,PlacementName,PlacementType,AdID,AdName,AdFormat,ServedImpressions,Clicks,VideoStarted,VideoFullyPlayed,TotalMediaCost,weekstartdate
0,2018-05-27,439393,JackÛªs Barrel,877391,2018_THL_Jacks Barrel,130157,Oath US,24604034,THL_JB_0_BRIGHTROLL_CONTX_DES_A21-49_UCB_H5_Fl...,In-Banner,52002980,2018_DB_SimplePleasures-300x250,Standard Banner,312,1,0,0,0.0,5/21/18
1,2018-05-27,439393,JackÛªs Barrel,877391,2018_THL_Jacks Barrel,130157,Oath US,24604036,THL_JB_0_BRIGHTROLL_CONTX_DES_A21-49_UCB_H5_Fl...,In-Banner,52004247,2018_DB_SimplePleasures-728x90,Standard Banner,73,0,0,0,0.0,5/21/18
2,2018-05-27,439393,JackÛªs Barrel,877391,2018_THL_Jacks Barrel,130157,Oath US,24604037,THL_JB_0_BRIGHTROLL_CONTX_DES_A21-49_UCB_H5_Fl...,In-Banner,52003023,2018_DB_SimplePleasures-300x600,Standard Banner,95,0,0,0,0.0,5/21/18

In [22]:
df[df.columns[0]]

0       2018-05-27
1       2018-05-27
2       2018-05-27
3       2018-05-27
4       2018-05-27
           ...
30702   2018-04-01
30703   2018-04-01
30704   2018-04-01
30705   2018-04-01
30706   2018-04-01
Name: ÈÀDate, Length: 30707, dtype: datetime64[ns]

In [23]:
df[df.columns[0]].value_counts() # check how many rows for each Date

2018-04-12    1012
2018-05-25     691
2018-05-24     684
2018-05-26     678
2018-05-27     672
2018-05-22     653
2018-05-23     649
2018-05-17     649
2018-05-21     641
2018-04-20     637
2018-05-19     635
2018-05-18     631
2018-05-16     630
2018-05-14     621
2018-05-20     618
2018-05-15     614
2018-05-11     607
2018-05-13     592
2018-05-12     590
2018-05-10     583
2018-05-09     558
2018-04-24     537
2018-05-02     537
2018-05-07     526
2018-04-21     525
2018-05-04     525
2018-04-23     517
2018-05-03     515
2018-04-11     515
2018-04-22     514
2018-04-13     514
2018-05-08     505
2018-04-25     504
2018-04-15     499
2018-05-05     498
2018-04-14     497
2018-04-16     495
2018-04-09     493
2018-04-10     493
2018-05-06     493
2018-04-06     477
2018-04-26     475
2018-04-28     472
2018-04-27     471
2018-04-30     471
2018-04-19     468
2018-04-29     466
2018-04-17     464
2018-04-05     462
2018-04-18     460
2018-04-07     452
2018-04-08     443
2018-05-01     386
2018-04-02     380
2018-04-04     377
2018-04-03     329
2018-04-01     307
Name: ÈÀDate, dtype: int64

In [ ]:
# String

In [24]:
a = 'Henry is handsome' # Example (Define Varialbe a)

In [25]:
a.replace('handsome', 'fat')

'Henry is fat'

In [27]:
a.replace('handsome', 'fat').replace('fat', 'sick')

'Henry is sick'

In [ ]:
# Use Replace Function in our Marketing Dataset

In [28]:
b = 'JackÛªs Barrel'

In [29]:
b.replace('JackÛªs', "Jack's")                    # 对一个值进行替换

"Jack's Barrel"

In [30]:
df['AdvertiserName'].replace('JackÛªs', "Jack's")  # 无法对一列值进行替换;Jack's里面已经有单引号，外面用双引号

0        JackÛªs Barrel
1        JackÛªs Barrel
2        JackÛªs Barrel
3        JackÛªs Barrel
4        JackÛªs Barrel
              ...
30702       Chelsea Blue
30703       Chelsea Blue
30704       Chelsea Blue
30705       Chelsea Blue
30706       Chelsea Blue
Name: AdvertiserName, Length: 30707, dtype: object

In [31]:
 df['AdvertiserName'].str.replace('JackÛªs', "Jack's")  # Treat a list of AdvertiserName as a String

0        Jack's Barrel
1        Jack's Barrel
2        Jack's Barrel
3        Jack's Barrel
4        Jack's Barrel
             ...
30702     Chelsea Blue
30703     Chelsea Blue
30704     Chelsea Blue
30705     Chelsea Blue
30706     Chelsea Blue
Name: AdvertiserName, Length: 30707, dtype: object

In [ ]:
# Python 2.3 数据清洗（Count Function）
# 在Data QA中经常用的一个Function

In [4]:
df['CampaignName']

0         2018_THL_Jacks Barrel
1         2018_THL_Jacks Barrel
2         2018_THL_Jacks Barrel
3         2018_THL_Jacks Barrel
4         2018_THL_Jacks Barrel
                  ...
30702    2018_THL_Chelsea_BALAD
30703    2018_THL_Chelsea_BALAD
30704    2018_THL_Chelsea_BALAD
30705    2018_THL_Chelsea_BALAD
30706    2018_THL_Chelsea_BALAD
Name: CampaignName, Length: 30707, dtype: object

In [5]:
df['CampaignName'].str.count('_')
#检查下划线的位数 - 看每一个campaign是否是严格明名的 (数出下划线)

0        2
1        2
2        2
3        2
4        2
        ..
30702    3
30703    3
30704    3
30705    3
30706    3
Name: CampaignName, Length: 30707, dtype: int64

In [6]:
df['count_under_score'] = df['CampaignName'].str.count('_')
#将结果赋值在一个新的数列DataFrame里面，更容易读取 (count完以后将结果赋值到一个新的数列里面)

In [7]:
df['count_under_score']

0        2
1        2
2        2
3        2
4        2
        ..
30702    3
30703    3
30704    3
30705    3
30706    3
Name: count_under_score, Length: 30707, dtype: int64

In [8]:
df['count_under_score'].unique()  # 说明存在2或3或4个underscore的情况 - campaign name的命名并不统一

array([2, 3, 4], dtype=int64)

In [9]:
# Next: 查看2/3/4个underscore的Campaign Name分别有哪些：
# 创建新的variable:
count_2 = df[df['count_under_score'] == 2]['CampaignName'] 
#当underscore count = 2 的时候 把campaign name给出；并将这样的一组campaign name赋值于variable count_2

In [10]:
count_2

0        2018_THL_Jacks Barrel
1        2018_THL_Jacks Barrel
2        2018_THL_Jacks Barrel
3        2018_THL_Jacks Barrel
4        2018_THL_Jacks Barrel
                 ...
29686    2018_THL_Jacks Barrel
29687    2018_THL_Jacks Barrel
29688    2018_THL_Jacks Barrel
29689    2018_THL_Jacks Barrel
29690    2018_THL_Jacks Barrel
Name: CampaignName, Length: 9883, dtype: object

In [11]:
count_2.value_counts()  # 从以下结果可以看出，有2个underscore的只有这一项，这一项有9883行

2018_THL_Jacks Barrel    9883
Name: CampaignName, dtype: int64

In [12]:
count_3 = df[df['count_under_score'] == 3]['CampaignName'] 
count_4 = df[df['count_under_score'] == 4]['CampaignName']

In [13]:
count_3.value_counts()   # 以下campaign name中包含了3个下划线，每个campaign name出现了多少次

2018_THL_Brand R_HAR           7798
2018_ABH_AnneMac_Jan-July      4443
2018_THL_Chelsea_T2-T3         2754
2018_THL_Brand R_T2            2255
2018_THL_Chelsea_BALAD         1810
2018_THL_Bubbles_Q2             928
2018_THL_Chelsea_VIDEO          768
2018_THL_Chelsea_Super Bowl      41
2018_THL_Chelsea_PHILLYMAG        3
Name: CampaignName, dtype: int64

In [14]:
count_4.value_counts()

2018_THL_Chelsea_Hulu_T2    24
Name: CampaignName, dtype: int64